* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

