/* About Section */
.about {
    padding: 6rem 0;
    position: relative;
    background-color: white;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/backgrounds/fondo-repeat.png');
    background-repeat: repeat;
    opacity: 0.5;
    filter: blur(5px);
    z-index: 0;
}

.about .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    gap: 2rem;
}

.about h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
}

.about-text p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.about-image {
    width: 2500px;
    height: 700px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top center;
}

