/* Contact Section */
.contact {
    padding: 5rem 2rem;
    position: relative;
    background-color: white;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/backgrounds/fondo-repeat.png');
    background-repeat: repeat;
    opacity: 0.5;
    filter: blur(5px);
    z-index: 0;
}

.contact h2 {
    position: relative;
    z-index: 1;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.contact-info .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-info i {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-right: 1rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-family: inherit;
}

.contact-form button {
    padding: 1rem;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: var(--secondary-color);
}

