/* Team Section */
.team {
    padding: 5rem 2rem;
    position: relative;
    background-color: white;
}

.team::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/backgrounds/fondo-repeat.png');
    background-repeat: repeat;
    opacity: 0.5;
    filter: blur(5px);
    z-index: 0;
}

.team h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.team-intro {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.team-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.team-card h3 {
    padding: 1rem;
    color: var(--primary-color);
}

.team-card p {
    padding: 0 1rem;
}

